venv/
.venv/

data/raw/*
data/processed/*

.env
.env.local
.env.*.local
*.env

src/db/load_data.py

__pycache__/
*.pyc
venv/
.env

__pycache__/
*.py[cod]
*$py.class

.dockerignore

.pytest_cache/
.coverage
htmlcov/

__pycache__/
*.py[cod]
*$py.class